/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";

body {
    margin: 10px;
}

.ng-valid[required], .ng-valid.required {
    border-left: 3px solid cornflowerblue;
}

.ng-invalid:not(form) {
    border-left: 3px solid red;
}