<div class="row">
    <div class="col-md-6 offset-md-3 mt-4" >
        <h3>Forgot Password? 🤔</h3>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" *ngIf='!emailSent'> 

            <div *ngIf="!loading" class="form-group" style="margin-bottom: 10px;">

                <input type="email"  name="email" ngModel required #username="ngModel"
                  class="form-control" id="resetPassUsername" placeholder="Enter email">
            </div>

            <div class="spinner-container" *ngIf="loading">
                <mat-progress-spinner 
                    mode="indeterminate"  
                    diameter="37">
                </mat-progress-spinner>
                <br>
            </div>           
            
            <button type="submit" [disabled]="f.invalid || loading" class="btn btn-primary">Send Reset Password Link <i class="fa fa-sign-in" aria-hidden="true"></i>
            </button>
            <div class="ms-1 mt-1">
                <small> <a class='link-secondary' routerLinkActive='active' routerLink='../login'><i  class="fa fa-angle-left"  aria-hidden="true"></i> Already a Food Friend? Login Here.</a></small>
            </div>  
        </form>
        <div *ngIf='emailSent'>
            <h4>Check your email for confirmation link</h4>     
        </div>
    </div>
    
</div>