<nav class='navbar navbar-expand navbar-light bg-light d-flex justify-content-between'>
  <a class='navbar-brand'>{{pageTitle}} <i class="fa fa-cutlery" aria-hidden="true"></i></a>
  
  <ul class='nav nav-tabs nav-secondary'>
    <li class='nav-item nav-secondary' *ngIf='authService.notLoggedIn();'><a class='nav-link link-secondary' routerLinkActive='active' routerLink='login'>Login</a></li>
    <li class='nav-item' *ngIf='authService.notLoggedIn();'><a class='nav-link' routerLinkActive='active' routerLink='register'>Register</a></li>
    <li class='nav-item' *ngIf='!authService.notLoggedIn();' class="nav-item dropdown" dropdown>
      <a class="nav-link dropdown-toggle link-secondary" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" dropdownToggle>
        Food Friend Profile
      </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdown" *bsDropdownMenu>
        <a class="dropdown-item link-secondary" [routerLink]="['user-profile']" routerLinkActive='active' ><i class="fa fa-user" aria-hidden="true"></i> Go to Profile </a>
        <a class="dropdown-item link-secondary" [routerLink]="['user-edit']" routerLinkActive='active'><i class="fa fa-edit" aria-hidden="true"></i> Edit Profile </a>
        <a class="dropdown-item link-secondary" (click)="logout();" routerLinkActive='active' routerLink='../login'><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li> 
  </ul>
</nav>
<div class='card'></div>

<div>
  <router-outlet></router-outlet>
</div>