<div class="row ">
    <div class="col-8 m-auto mt-4">


        <!-- <form #f="ngForm" (ngSubmit)="applyFilter(f)">
            <div class="row mb-3">
                <div class="col-sm-2 col-form-label-sm">
                    <input type="text" name="searchFilter" id="searchFilter" class="form-control" id="searchFilter" placeholder="Filter"
                    ngModel #searchFilter="ngModel"
                        class="form-control"
                    >
                </div>
                <div class="col-sm-5 mt-2">
                    <button type="submit">Submit</button>
                    <button (click)="resetForm(f)" class="button btn-secondary">Clear</button>
                </div>
            </div>
        </form> -->
          
          <div class="example-container mat-elevation-z8">
            <!-- <form #n="ngForm" (ngSubmit)="getNextFifty(n.value.entryFilter)">
                <div class="row mb-3">
                    <div class="col-sm-2 col-form-label-sm">
                        <input type="number" name="entryFilter" id="entryFilter" class="form-control" id="entryFilter" placeholder="Number"
                        ngModel #searchFilter="ngModel"
                            class="form-control"
                        >
                        <small class="m-2"> {{totalEntries}} total entries</small>
                    </div>
                    <div class="col-sm-5 mt-2">
                        <button type="submit">Get next entries</button>
                        <button (click)="resetEntries(n.value.entryFilter)" class="button btn-secondary">Reset Table</button>
                    </div>
                    
                </div>
            </form> -->

      
            <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc" matSortDisableClear>
          

              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
              </ng-container>
          

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
              </ng-container>
          

              <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
              </ng-container>
          

              <ng-container matColumnDef="role">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                <mat-cell *matCellDef="let row" > 
                    
                        <!-- <div *ngIf="row.role == 'ROLE_ADMIN';" >

                         <span class="badge bg-danger text-light">ADMIN!</span>
                        </div> -->
                        

                        <mat-radio-group aria-label="Select an option"  >
                            <div *ngFor="let role of roleList;">
                                <mat-radio-button  [checked]="role.val === row.role" (change)="onRoleChange($event, row)" value="{{role.val}}" >{{role.name}}</mat-radio-button>
                            </div>
                        </mat-radio-group> 

                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="active">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.active}} 

                    <input [(ngModel)]="row.active" (change)="editUser(row, row.id)" type="checkbox" name="onoffswitch" class="onoffswitch" id="myonoffswitch" >
                            
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="favoriteFoods">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Favorite Foods </mat-header-cell>
                <mat-cell *matCellDef="let row" > {{row.favoriteFoods}} </mat-cell>
              </ng-container>
          
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>
          
            <mat-paginator [length]="totalEntries" [pageSize]="3" [pageSizeOptions]="[3, 6, 9, 12]"></mat-paginator>
          </div>


        <!-- <h3>Welcome, {{usersName}}</h3> -->
        <!-- <form [formGroup]="updateUserForm" (ngSubmit)="submit()"> -->
            <!-- <table class="table bdr table-light table-striped ">
                <thead >
                    <tr>
                        <th>name</th>
                        <th>e-mail</th>
                        <th>role</th>
                        <th>active</th>
                        <th class="col-4" >favorite foods</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let user of users;'>
                        <td>{{user?.name}} {{user?.lastName}}</td>
                        <td>{{user?.email}}</td>
                        <td>
                            <div *ngIf="user?.role == 'ROLE_ADMIN'; else userRole" >

                            <span class="badge bg-danger text-light">ADMIN!</span>
                            </div>
                            <ng-template #userRole>User</ng-template>

                            <mat-radio-group aria-label="Select an option"  >
                                <mat-radio-button *ngFor="let role of roleList;" [checked]="role.val === user.role" (change)="onRoleChange($event, user)" value="{{role.val}}" >{{role.name}}</mat-radio-button>
                              
                            </mat-radio-group> 

                        

                        </td>
                        <td>
                            {{user.name}} is active: {{user?.active}}
                            <br>
                            <input [(ngModel)]="user.active" (change)="editUser(user, user.id)" type="checkbox" name="onoffswitch" class="onoffswitch" id="myonoffswitch" >
                            
                            
   
                    
                        </td>
                        <td>
                            <table class="table mb-0 table-sm" >  
                                <tbody>
                                <tr *ngFor='let food of user?.favFoods; let i = index;'>
                                    <td> <b>{{i+1}}.</b> {{food.name}} </td>
                                </tr>
                                </tbody> 
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>  -->


        <!-- </form> -->
    </div>
</div>


